*{
	margin:0;
	padding:0;
}

body{
	font-family:arial,"Open sans";
	text-align:center;
}

a{
	text-decoration:none;
}

header{
	width:100%;
}

header h2{
	color:#CCC;
	width:300px;
}

.cisti{
	clear:both;
}

.okvir{
	width:80%;
	margin:auto;
	font-size:16px;
	max-width:1200px;
	text-align:left;
	
}

ul{
	list-style-type:none;
	width:80%;
	float:left;
}

.nav3{
	text-align:left;
	font-size:20px;
}

h2, h3{
	float:left;
}


header nav a:hover{
	color:#68A4C4;

}

.artikl1{
	margin-top:90px;
}

form{
	margin-top:30px;
}

